body {
    height: 100vh;
    margin: 0;
    font-family: 'foppins', sans-serif;
    color: #2e2e2e;
    background:;
    display: grid;
    place-items: center;
}

.page {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,.5);
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: linear-gradient(#3cdebc, #ffffff);
    text-align: center;
    transition: 1s cubic-bezier(.95,.32,.37,1.31);
    z-index: 2;
}

    .welcome h6 {
        margin: 50px 0;
        letter-spacing: 2px;
        color: #2e2e2e;
    }

    .welcome p {
        padding: 0 25px;
        color: #2e2e2e font-weight: 300;
    }


.login_btn {
    margin: 30px 0;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 1px solid #2e2e2e;
    color: #2e2e2e;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transition-delay: .5s;
}


    .login_btn.active {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    .login_btn.active {
        opacity: 0;
        visibility: hidden;
        display: block;
    }

.loginsv_btn.active {
    opacity: 2;
    visibility: hidden;
    display: block;
}


.register {
    position: absolute;
    top: 0;
    left: 300px;
    width: 300px;
    height: 100%;
    text-align: center;
    transition: 1s cubic-bezier(.95, .32, .37, 1.31);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

    .register h2 {
        position: relative;
        margin: 40px 0;
        padding: 0;
    }

.form input {
    margin: 5px 0;
    width: 300px;
    height: 30px;
    font-weight: 700;
}

.reg-input {
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: .5s;
}

    .reg-input:focus {
        border-color: #7f7f7f;
    }

.register .reg-btn {
    height: 45px;
    font-weight: 450;
    background: #3cdebc;
    color: #2e2e2e;
    border-radius: 28px;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

.register.res-btn:hover {
    transform: scale(1.1);
}

.forg-pass {
    width: 100%;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #2e2e2e;
    font-size: 14px;
}

.welcome.active {
    opacity: 1;
    background: linear-gradient(#fa538d, #89379c);
    color: #fff;
    left: 62.5%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 1s cubic-bezier(.95, .32, .37, .1, .31);
    z-index: 2;
}

.register.active {
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 1s cubic-bezier(.95, .32, .37, .1, .31);
}

.login {
    position: absolute;
    top: 0;
    left: 300px;
    width: 500px;
    height: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 1s 1s cubic-bezier(.95, .32, .37, .1, .31);
}

    .login h2 {
        margin: 40px 0;
        padding: 0;
    }

    .login input {
        margin: 5px 0;
        width: 300px;
        height: 30px;
        font-weight: 700;
    }

.log-input {
    padding: 5px 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: .5s;
}

    .log-input:focus {
        border-color: #7f7f7f;
    }

.log.log-btn {
    height: 40px;
    font-weight: 600;
    background: linear-gradient(to bottom right, #fa538d, #89379c);
    color: #fff;
    border-radius: 30px;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
}

    .log.log-btn:hover {
        transform: scale(1,1);
    }

.login, active {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s 1s cubic-bezier(.95, .32, .37, .1, .31);
}
