@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/TTGVK.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng Nhập</title>
    <!-- fonts -->
    <link rel="stylesheet" href="font/fonts.css">
    <!-- normalize css -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/css/utility.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="stylesheet" href="~/content/TT.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <h3>KHOA HỆ THỐNG THÔNG TIN VÀ VIỄN THÁM</h3>
        <p>Trường Đại học Tài nguyên và Môi trường Thành Phố Hồ Chí Minh</p>
    </div>

    <div class="row">
        <div class="column">
            <!-- blog section -->
            <section id="blog" class="py-7">
                <div class="container">
                    <div class="blog-row">
                        <div class="blog-item my-18 shadow">
                            <div class="blog-item-top">
                                <img src="~/Content/img/h1.jpg" alt="blog" /> <br />
                                <span class="blog-date">16/02/2023</span>
                            </div>
                            <div class="blog-item-bottom">
                                <p class="text"> <br />Đội thi Cá Voi của HCMUNRE vào vòng chung kết Chương trình Tìm kiếm Ý tưởng sáng tạo vì một đại dương không nhựa</p>
                            </div>
                        </div>

                        <div class="blog-item my-2 shadow">
                            <div class="blog-item-top">
                                <img src="~/Content/img/h2.jpg" alt="blog"> <br />
                                <span class="blog-date">18/01/2023</span>
                            </div>
                            <div class="blog-item-bottom">
                                <br />
                                <p class="text">Chương trình nhằm hỗ trợ các nhóm thanh niên và nhà khoa học trẻ xây dựng và phát triển các giải pháp cho vấn đề về thu gom, phân loại, xử lý, tái chế, tái sử dụng… rác thải nhựa, đặc biệt là rác nhựa dùng một lần, góp phần xây dựng nền kinh tế tuần hoàn và hướng tới sự phát triển bền vững của đại dương.</p>
                            </div>
                        </div>
                        <div class="blog-item my-sm-1 shadow">
                            <div class="blog-item-top">
                                <img src="~/Content/img/n4.jpeg" alt="blog" />  <br />
                                <span class="blog-date">15/03/2023</span>
                            </div>
                            <div class="blog-item-bottom">
                                <br />
                                <p class="text">
                                    Trường Đại học Tài nguyên và Môi trường TP.HCM trao đổi và làm việc với Trường Đại học Kỹ thuật Hàn Quốc
                                </p>
                                <p class="text">
                                    Buổi họp được diễn ra với sự tham gia và chủ trì của Phó Hiệu trưởng Nhà trường – PGS.TS. Lê Hoàng Nghiêm, PGS.TS. Nguyễn Thị Vân Hà – Trưởng khoa Khoa Môi trường, PGS.TS. Nguyễn Lữ Phương – Phó Trưởng khoa Khoa Môi trường, TS. Võ Thị Tuyết Mai – Phó trưởng phòng Đào tạo, TS. Trần Thanh Tâm – Phó phòng Phòng KHCN&QHĐN cùng cán bộ giảng viên khác.
                                </p>
                            </div>
                        </div>

                        <div class="blog-item my-2 shadow">
                            <div class="blog-item-top">
                                <img src="~/Content/img/n41.jpg" alt="blog" /> <br />
                                <span class="blog-date">25/02/2023</span>
                            </div>
                            <div class="blog-item-bottom">
                                <br />
                                <p class="text">
                                    Việt Nam và Nhật Bản tăng cường mối quan hệ hợp tác trong quản lý, xử lý chất thải. rong khuôn khổ hợp tác giữa Bộ Tài nguyên và Môi trường Việt Nam và Bộ Môi trường Nhật Bản, Ủy Ban hỗn hợp về quản lý chất thải và 3R đã được thành lập và nhóm họp lần đầu tiên vào ngày 11/01/2019.
                                </p>
                            </div>

                        </div>

                        <div class="blog-item my-2 shadow">
                            <div class="blog-item-top">
                                <img src="~/Content/img/h5.jpg" alt="blog />"><br />
                                <span class="blog-date">25/03/2023</span>
                            </div>
                            <div class="blog-item-bottom">
                                <p class="text">Đến với Chương trình, đội thi Cá Voi đến từ Trường Đại học Tài nguyên và Môi trường TP. HCM gồm các thành viên: Dương Thị Tường Vy, Hồ Thị Bích Du, Đặng Văn Bình của lớp 10ĐHQTKD1 với sự hướng dẫn của TS. Trần Thanh Tâm – Phó Trưởng phòng KHCN&QHĐN đã xuất sắc trở thành 1 trong 5 đội thi vào vòng chung kết dự kiến diễn ra vào ngày 12.4.2023 tại Trụ sở Liên Hợp Quốc – Hà Nội.<br /> Một lần nữa xin chúc mừng đội thi Cá Voi</p>
                            </div>
                        </div>

                        <div class="blog-item my-2 shadow">
                            <div class="blog-item-top">
                                <img src="~/Content/img/h6.jpg" alt="blog />"><br />
                                <span class="blog-date">23/03/2023</span>
                            </div>
                            <div class="blog-item-bottom">
                                <p class="text">Hội thi “Ngày nước và Khí tượng thế giới lần IV – 2023” với chủ đề “Thúc đẩy sự thay đổi” – “Thời tiết, khí hậu và nước – Tương lai qua các thế hệ”.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end of blog section -->

        </div>

    </div>

    <div class="footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-9">
                <div class="d-flex justify-content-center small">
                    <div class="text-muted">Khoa Công Nghệ Thông Tin</div>
                </div>
            </div>
        </footer>
    </div>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/Script.js"></script>
</body>
</html>
